<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/png" th:href="${#servletContext.getInitParameter('favicon_path')}" />
<meta charset="ISO-8859-1">
<title>Worker assignment to project</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body class="bodybase clientpage">

	<ul id="topbar">
		<li><a th:href="@{/Logout}" th:text="#{logout}">Esci</a></li>
	</ul>

	<p class="successLabel" th:if="${showSuccessMessage}==true" th:text="#{success}"></p>
	<p class="errorLabel" th:if="${showErrorMessage}==true" th:text="#{error}"></p>
	

	<h1 th:text="#{welcome} + ${name}">Bentornato</h1>

	<h2 th:text="#{quotations}">Le tue richieste</h2>
	<div>
		<table id="pastable" border='1'>
			<thead>
				<tr>
					<th th:text="#{id}">ID</th>
					<th th:text="#{product}">Prodotto</th>
					<th th:text="#{date}">Data</th>
					<th th:text="#{price}">Prezzo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="q : ${quotations}">
					<td th:text="${q.quotationId}">1</td>
					<td th:text="${q.productName}">Toyota Aygo</td>
					<td th:text="${q.date}">17/02/1996</td>
					<td th:if="${q.value}!=0" th:text="${q.value}">100E</td>
					<td th:if="${q.value}==0" th:text="#{pending}">100E</td>
				</tr>
			</tbody>
		</table>
	</div>



	<h2 th:text="#{intro}">Prodotti disponibili</h2>
	<div id="imageslist">
		<a th:each="p : ${products}" th:href="@{/HomeClient(product=${p.id})}"><img
			th:src="@{/ProductImage(product=${p.id}, thumbnail=true)}" width="200"><br><span th:text="${p.name}">Toyota Aygo</span></a>			
		<br>
	</div>
	<br>
	<br>
	
	<div th:if="${selProd != 0}" class="carSelection">
		<div th:if="${selProd != null}" th:each="p : ${products}">
			<div th:class="left" th:if="${selProd == p.id}">
						<img th:src="@{/ProductImage(product=${p.id})}" width="600">
			</div>
			<div th:class="right" th:if="${selProd == p.id}">
						<span class="carName" th:text="${p.name}"></span><br><br>
						<form action="SubmitRequest" method="POST">
								<input type="hidden" name="productId" required="required" th:value="${p.id}" />
								<div th:each="o : ${p.options}">
									<input type="checkbox" th:id="${o.id}" th:name="options" th:value="${o.id}">
									<label th:for="${o.name}" th:text="${o.name}"> I have a boat</label><br>
								</div>
								<br>
								<input class="rbutton" type="submit" value="Submit">
							</form>
			</div>
		</div>
	</div>
	
</body>
</html>