<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/png" th:href="${#servletContext.getInitParameter('favicon_path')}" />
<meta charset="ISO-8859-1">
<title th:text='#{title}'>Project Pricing</title>
<link rel="stylesheet" type="text/css" media="all" href="../CSS/worker.css" th:href="@{/css/worker.css}" />
</head>
<body class="workerpage">
	<ul id="topbar">
		<li><a th:href="@{/HomeWorker}" th:text="#{back}">Indietro</a></li>
	</ul>

	<h1 th:text="#{valutation}">Valutazione preventivo</h1>

	<h2 th:text="#{info}">Informazioni Preventivo</h2>
	<div class="infotable">
		<table class="table" >
			<tbody>
				<tr>
					<td id="productcell" th:text="#{productname} + ': '">Prodotto:
					</td>
					<td th:text="${quotation.productName}">nome</td>
				</tr>
				<tr>
					<td id="clientcell" th:text="#{client} + ': '">Cliente:
					</td>
					<td th:text="${quotation.clientUsername}">nome</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h3 th:text="#{options}">Opzioni selezionate</h3>
	<div class="optiontable">
		<table class="workertable table">
			<thead>
				<tr>
					<th th:text="#{optionname}">Option name
					</th>
					<th th:text="#{inoffer}">In offer?
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="o : ${quotation.options}">
					<td th:text="${o.name}">opzione1</td>
					<td th:text="${o.inOffer == true}? #{yes} : #{no}">no</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	
	<div id="priceinsertion" class="box">
		<form th:action="@{/ManageQuotation}" method="post">
			<label for="price" th:text="#{price}">price: </label>
			<input type="number" id="price" name="price" th:placeholder="#{placeholder}" step="0.01" min="0"/>
			<br>
			<p th:if="${priceerror == true}" class="error-paragraph" th:text="#{priceerror}" />
			<br th:if="${priceerror == true}">
			<p th:if="${pricesignerror == true}" class="error-paragraph" th:text="#{pricesignerror}" />
			<br th:if="${pricesignerror == true}">
			<input id="quotation" class="field" type="hidden" name="quotation" th:value="${quotation.quotationId}" />
			<input id="submitprice" type="submit" class="submit button" th:value="#{submit}" />
		</form>	
	</div>




</body>
</html>