<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all" href="../css/mystyle.css" th:href="@{/css/mystyle.css}" />
<title>Sign up</title>
</head>
<body class="bodybase registerpage">

	<ul id="topbar">
		<li><a th:href="@{/Index}" th:text="#{back}">Indietro</a></li>
	</ul>


	<div class="registerbox">
		<img class="registerlogo" src="./images/logo.png">
		<p th:if=" ${errorMsg!=null && errorMsg=='emptyField'}" class="error"  th:text="#{emptyField}">campi vuoti</p>
		<p th:if=" ${errorMsg!=null && errorMsg=='usedUsername'}" class="error" th:text="#{usedUsername}">username già utilizzato</p>
		<p th:if=" ${errorMsg!=null && errorMsg=='wrongRole'}" class="error" th:text="#{wrongRole}">ruolo inserito sbagliato</p>
		<form action="Registration" method="POST">
			<input class="registerfield" type="text" name="firstName" th:placeholder="#{firstName}" required>
			<br>
			<input class="registerfield" type="text" name="lastName" th:placeholder="#{lastName}" required>
			<br>
			<input class="registerfield" type="text" name="username" th:placeholder="#{username}" required>
			<br>
			<input class="registerfield" type="password" name="pwd" th:placeholder="#{password}" required>
			<br>
			
	
			<input class="checkmark" type="radio" name="role" value="client" checked>
			<label th:text="#{client}">cliente</label> <br>
			<input class="checkmark"  type="radio" name="role" value="worker">
			<label th:text="#{worker}">Addetto ai lavori</label>
			<br><br>
			
			<input class="rbutton" type="submit" th:value="#{register}">
		</form>
	</div>
</body>
</html>