<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/png" th:href="${#servletContext.getInitParameter('favicon_path')}" />
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all" href="../css/register.css" th:href="@{/css/register.css}" />
<title>Sign up</title>
</head>
<body class="registerpage">

	<ul id="topbar">
		<li><a th:href="@{/Index}" th:text="#{back}">Indietro</a></li>
	</ul>


	<div class="registerbox box">
		<img class="registerlogo" src="./images/logo.png">
		<p th:if=" ${errorMsg!=null && errorMsg=='emptyField'}" class="error"  th:text="#{emptyField}">campi vuoti</p>
		<p th:if=" ${errorMsg!=null && errorMsg=='usedUsername'}" class="error" th:text="#{usedUsername}">username già utilizzato</p>
		<p th:if=" ${errorMsg!=null && errorMsg=='wrongRole'}" class="error" th:text="#{wrongRole}">ruolo inserito sbagliato</p>
		<p th:if=" ${errorMsg!=null && errorMsg=='wrongPassword'}" class="error" th:text="#{wrongPassword}">ruolo inserito sbagliato</p>
		<p th:if=" ${errorMsg!=null && errorMsg=='wrongEmail'}" class="error" th:text="#{wrongEmail}">ruolo inserito sbagliato</p>
		<p th:if=" ${errorMsg!=null && errorMsg=='success'}" class="success" th:text="#{success}">ruolo inserito sbagliato</p>
		
		
		<form action="Registration" method="POST">
			<input class="registerfield field" type="text" name="firstName" th:placeholder="#{firstName}" required>
			<br>
			<input class="registerfield field" type="text" name="lastName" th:placeholder="#{lastName}" required>
			<br>
			<input class="registerfield field" type="text" name="username" th:placeholder="#{username}" required>
			<br>
			<input class="registerfield field" type="text" name="mail" th:placeholder="#{mail}" required>
			<br>
			<input class="registerfield field" type="password" name="pwd1" th:placeholder="#{password}" required>
			<br>
			<input class="registerfield field" type="password" name="pwd2" th:placeholder="#{password2}" required>
			<br>

	
			<input class="checkmark" type="radio" name="role" value="client" checked>
			<label th:text="#{client}">cliente</label> <br>
			<input class="checkmark"  type="radio" name="role" value="worker">
			<label th:text="#{worker}">Addetto ai lavori</label>
			<br><br>
			
			<input class="button" type="submit" th:value="#{register}">
		</form>
	</div>
</body>
</html>