<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="icon" type="image/png" th:href="${#servletContext.getInitParameter('favicon_path')}" />
<link rel="stylesheet" type="text/css" media="all"
	href="./css/mystyle.css" th:href="@{/css/mystyle.css}" />
<title>QuotationManager Homepage</title>
</head>
<body class="bodybase indexpage">

	<img class="logo" src="./images/logo.png">
	
	<div class="formbox">
		<form action="Login" method="POST">
			<input class="loginfield" type="text" name="username" th:placeholder="#{username}">
			<br>
			<input class="loginfield" type="password" name="pwd" th:placeholder="#{password}">
			<br>
			<input class="login button" type="submit" th:value="#{login}">
			<p th:if="${userpasserror} == true" class="error" th:text="#{userpasserror}">Non ci sono stati errori</p>
		</form>
		<br><br><br>
		<label class="registerLabel" th:text="#{register}">Nuovo qui? Registrati</label><br>
		<a th:href="@{/Registration}" href="register.html">
			<button	class="register button" th:text="#{registerbutton}">Registrati</button>
		</a><br>
		
	</div>
	<br>
</body>
</html>