@charset "UTF-8";
@import"navigation_bar.css";

.hidden{
	display : none;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: GrayText;
}
::-webkit-input-placeholder { /* WebKit browsers */
     color: GrayText;
}



body {
	color : white;
	margin: 50;
	padding: 50;
	font-family:Verdana,sans-serif;
	background-repeat : no-repeat;
 	background-size : cover;
 	background-attachment : fixed;
}
a:link, a:visited{
	color : white;
}



.box {
	right: 120px;
	color : white;
	border : 2px black;
	border-radius : 20px;
	text-align : center;
	margin: 0 auto;
  	background-color : rgba(0, 0, 0, 0.8);/*rgba(204, 163, 0, 0.5);*/
  	transition : .3s;
  	width: 240px;
}

.field{
	color : white;
	text-align : center;
	border-radius : 7px;
	font-size : 15pt;
	margin-bottom : 5px;
	height : 30px;
	border : 2px solid rgba(204, 163, 0, 0.5);
	background-color : rgba(255, 255, 255, 0.03);
}

.checkmark {
  height: 20px;
  width: 20px;
}

.table{
  border-collapse: collapse;
  border-color: transparent;
  width: 600px;
  background-color : rgba(0, 0, 0, 0.8);
}

.table tr, .table th{
	line-height: 30px;
}

.table tr:nth-child(even){
	background-color: rgba(255, 255, 255, 0.1);
}

.table th{
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #d1ad03;
  color: black;
}

.error{
	padding: 12px 27px;
	color : #1a0000;
	background-color : rgba(204, 0, 0, 0.7);
	color : white;
	overflow: visible;
  	position: relative;
}
.error-paragraph{
	color : red;
	text-width : bold;
}

.success{
	padding: 12px 27px;
	color : #1a0000;
	background-color : rgba(26, 255, 26, 0.6);
	color : black;
	overflow: visible;
  	position: relative;
}


.close{
	font-size : 12pt;
	font-weight : bold;
	position: absolute;
    background-color: transparent;
    color: white;
    top: 4px;
    right: 2px;
    border:none;
}

.close:hover{
	color : #c9c9c9;
}

.close:focus{
	outline : 0;
}

.close_banner{
	font-size : 15pt;
    top: 9px;
    right: 7px;
}

.invisible{
	visibility : hidden;
	display : none;
}

.button{
	color: white;
	border:none;
	padding: 12px 27px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #e6b800;
	color : black;
	font-size : large;
	transition : .3s;
	border-radius : 7px;
}
.button:hover{
	transform : scale(1.09);
}
.button:focus{
	outline : 0;
	background-color: #b59100;	
}