@import "base.css";

.registerpage{
	background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url("./resources/maseratim.jpg");
}

.registerbox{
	position: center;
	padding : 40px;
  	margin-top: 50px;
}

.registerlogo{
	margin : 30px;
	margin-left: 14px;
	width: 200px;
	transition : .3s;
}

.registerfield{
	width : 230px;
}

.errorfield{
	color : white;
	text-align : center;
	border-radius : 7px;
	font-size : 15pt;
	margin-bottom : 5px;
	height : 30px;
	border : 2px solid rgba(203, 0, 0, 0.5);
	background-color : rgba(255, 255, 255, 0.03);
}

.success:hover{
	cursor: pointer;
}