@import "base.css";

.workerpage{
	background-image:linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.6)), url("./resources/ferrari_enzo.jpg");
}

.pricepage{
	background-image:linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.6)), url("./resources/maseratim.jpg");
}

#free

#productcell{
	text-align: right;
	background-color: #d1ad03;
	font-weight : bold;
	color: black;
}

#clientcell{
	text-align: right;
	background-color: #d1ad03;
	font-weight : bold;
	color: black;
}

.freecellbutton{
	text-align: center;
}

.visualButton{
	padding: 6px 16px;
	font-size: 10px;
}

#priceinsertion{
	padding : 15px;
}

#priceinsertion label{
	font-size : 15pt;
}

#price{
	width : 230px;
}

#pricequotation{
	scroll-behavior: smooth;
}