.clientpage{
	background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url("./resources/ferrari.jpg");
 	background-repeat : no-repeat;
 	background-size : cover;
 	background-attachment : fixed;
}

#pastable {
  border-collapse: collapse;
  border-color: transparent;
  width: 600px;
  background-color : rgba(0, 0, 0, 0.8);
}

#pastable td, #pastable th {
  padding: 4px;
}

#pastable tr:nth-child(even){
	background-color: rgba(255, 255, 255, 0.1);
}

#pastable th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: #d1ad03;
  color: black;
}

#imageslist a{
	color : white;
	text-align : center;
	margin : 6px;
	display : inline-block;
	transition : .3s;
}

#imageslist img {
	border-radius : 15px;
	transition : .3s;
}

#imageslist img:hover{
	transform : scale(1.09);
	cursor:pointer;
}

.carSelection{
	margin-left : 2%;
	margin-right : 2%;
	background-color : rgba(0, 0, 0, 0.8);
	border : 4px solid #e6b800;
	border-radius : 15px;
	height : 500px;
}

.left {
	float:left;
	margin-top: 3%;
	margin-right : 5%;
	margin-left: 5%;
}

.left img{
	border-radius : 20px;
}

.left span{
	color : white;
	font-size : 20pt;
	text-align : center;
}

.carName{
	font-size : 20pt;
}

.right {
	margin-top : 100px;
	display : inline-block;
}

.errorLabel{
	padding: 12px 27px;
	color : black;
	background-color : rgba(204, 0, 0, 0.4);
}

.successLabel{
	padding: 12px 27px;
	color : black;
	background-color : rgba(36, 206, 72, 0.4);
}
